<div class="jumbotron jumbotron-top">
  <h2>Weather for <%= @wrapper.city %></h2>
  <p><%= @wrapper.main %></p>
  <p><%= @wrapper.desc %></p>
  <p><%= @wrapper.temp %></p>
  <%= image_tag @wrapper.image %>
</div>


<div class="jumbotron jumbotron-middle">

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://placekitten.com/250/300">
        <div class="caption">
          <h3><%= @outfit.top.join(" & ") %></h3>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://placekitten.com/250/300">
        <div class="caption">
          <h3><%= @outfit.bottom.join(" & ") %></h3>
        </div>
      </div>
    </div>

  <% if @outfit.extras.any? %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://placekitten.com/250/300">
        <div class="caption">
          <h3><%= @outfit.extras.join(" & ") %></h3>
        </div>
      </div>
    </div>
  <% end %>

</div>
